.collection-container{
    width: 673px;
    height: 430px;
    padding: 32px 0px;
}
.collection-container > h2 {
    margin: 20px 0px 20px 54px;
    height: 30px;
    color: #242331;
}

.collection-interface{
    width: 673px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.collection-display{
    display: flex;
    gap: 28px;
}

.collection-display figure{
    margin: 0;
    /*Strictly defining dimensions is often very important*/
    /*In this case, it prevents the .collection-column from scrolling back up during rerenders*/
    width: 125px;
    height: 296px;

}

.collection-display figure > img{
    /*Images are inline by default. Inline elements hava a small vertical space to accomodate text on the same line*/
    /*Making the image a block level element removes this issue*/
    display: block;
    width: 125px;
    height: auto;
}

.collection-display figcaption{
    word-break: normal;
    font-size: 14px;
}

.collection-interface button{
    appearance: none;
    outline: none;
    border: none;
    background-color: inherit;
    padding: 0;
    cursor: pointer;
}

.collection-interface button > img{
    display: block;
    height: 32px;
}

/*Selector for the div that contains text under the poster*/
.poster-text-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242331;
    color: white;
    padding-left: 12px;
    gap: 6px;
}

.poster-text-container button{
    color: white;
    cursor: pointer;
}

.cart-interface{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 12px;
}

.cart-interface button{
    cursor: pointer;
    font-size: 18px;
}

.cart-interface > .quantity{
    margin: 6px 0px;
    cursor: default;
}
