.collection-container > h2 {
    margin-left: 42px;
}

.collection-display{
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}

.collection-display figure{
    margin: 0;
    width: 150px;

}

.collection-display img{
    width: 150px;
    height: auto;
}

.collection-display figcaption{
    word-break: normal;
}

.collection-display button{
    height: 24px;
    border-radius: 50%;
    align-self: flex-start;
    margin-top: calc(225px / 2);
}