.collection-container{
    background-color: white;
    padding: 32px;
}

.collection-container > h2 {
    margin: 20px 0px 20px 42px;
    height: 30px;
}

.collection-interface{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;
}

.collection-display{
    display: flex;
    gap: 32px;
}

.collection-display figure{
    margin: 0;
    width: 150px;

}

.collection-display figure > img{
    width: 150px;
    height: auto;
}

.collection-display figcaption{
    word-break: normal;
}

.collection-interface button{
    appearance: none;
    outline: none;
    border: none;
    background-color: white;
}

.collection-interface button > img{
    height: 32px;
}