.details-pane{
    background-color: #242331;
    color: white;
    padding-bottom: 32px;
    width: 100%;
}

.details-pane > img {
    width: 100%;
}

.details-text-container{
    padding: 0px 32px;
}

.details-pane .overview{
    margin: 32px 0px 16px 0px;
    line-height: 1.4rem;
}

.details-pane .release-date h4, .details-pane .genres h4{
    display: inline;
}

.details-pane .release-date{
    margin: 22px 0px;
}

.details-pane .title{
    margin-top: 48px;
    font-size: 28px;
    text-align: center;
}

.details-pane .tagline{
    font-size: 18px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}