.details-pane{
    display: flex;
    flex-flow: column nowrap;
    min-width: 200px;
    max-width: 400px;
    height: 100%;
    overflow-y: auto;
    margin-top: 20px;
}

.details-pane img{
    width: 400px;
    height: auto;
}

.release-date h4, .genres h4{
    display: inline;
}