
.homepage-container{
    width: 100%;
    overflow-y: hidden;
    margin: 0 auto;
}

.navbar-in-homepage ul{
    width: 100%;
}

.homepage-container > img {
    z-index: 0;
    width: 100%;
    height: auto;
}

.homepage-container > h1{
    z-index: 1;
}